

<div class="page_header">
  <img src="">
  <h1>Uh oh, something went wrong!</h1>
  <p> check to make sure you've entered all the required fields</p>
</div>

<div class="page_content">
  <p>*** use your browser's back button to return to the last screen or click below to navigate somewhere else ***</p>
</div>

<div class="page_nav">
  <a href="/projects">projects</a>
  <a href="/">home</a>
  <a href="/stores">volunteers</a>
</div>
