
<h3> Current Projects: </h3>
<br>
<% if @projects.any?() %>
<p>Click on a project to see its volunteers:</p>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id() %>"><%= project.project_title() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no projects yet!</p>
<% end %>

<p>Create a new project:</p>

<form action="/projects" method="post">
  <label for="project_title">Assign a name to your project:</label>
  <br>
  <input id="project_title" name="name" type="text">
  <br>
  <button type="submit">Add project</button>
</form>

<h3> Add volunteers to a project:</h3>
<br>
<form action="/volunteers" method="post">
  <label for="project_id">Select a Project</label>
  <select id='project_id' name='project_id' type='text'>
    <% @projects.each() do |project| %>
      <option value="<%= project.id()%>"> <%= project.project_title() %> </option>
    <% end %>
  </select>
  <br>
  <br>
  <label for="volunteer_name">Volunteer name:</label>
  <br>
  <input id="volunteer_name" name="volunteer_name" type="text">
  <br>
  <button type="submit">Add Volunteer</button>
</form>
